@font-face {
    font-family: "HelveticaNeue";
    src: url("fonts2/HelveticaNeue.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("fonts2/Helvetica\ Neu\ Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "HelveticaNeueLight";
    src: url("fonts2/HelveticaNeueLt.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSlab";
    src: url("fonts2/JosefinSlab-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Impact";
    src: url("fonts2/Impact\ Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "HelveticaNeue";
    overflow-x: hidden;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.94);
    box-shadow: 1px 1px 10px 1px #626262;
}

.header-content {
    max-width: 1023px;
    min-height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #626262;
    padding-left: 10px;
    padding-right: 10px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav a {
    font-size: 18px;
    color: rgb(98, 98, 98);
}

.nav li {
    padding: 30px 15px;
    height: 86px;
    box-sizing: border-box;
    position: relative;
}

.nav li:hover {
    cursor: pointer;
    background-color: #d62132;
    color: #fff;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.nav li:hover>a {
    color: #fff;
}

.basket {
    display: flex;
    position: relative;
}

.basket i {
    color: #bdbdbd;
    margin-right: 8px;
}

.basket span {
    color: #626262;
    cursor: default;
}

.basket span::after {
    content: " ";
    position: absolute;
    border: 5px solid;
    border-color: #bdbdbd transparent transparent transparent;
    top: 5px;
    right: -20px;
}

.basket span:hover::after {
    cursor: pointer;
}

.products:hover .dropdown{
    opacity: 1;
    top: 86px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -5000px;
    left: 0;
    background-color: rgb(207, 26, 43);
    height: 300px;
    opacity: 0;
}

.dropdown div {
    width: 190px;
    box-sizing: border-box;
}

.dropdown div:first-of-type {
    width: 226px;
}

.logo-other {
    padding: 30px 40px 20px;
}

.tie {
    padding: 50px 72px;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
}

.elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-left: 1px solid rgb(255, 255, 255, 0.2);
}

.elements li {
    padding: 0 0 20px;
    margin: 0;
    height: 20px;
    box-sizing: border-box;
    align-items: center; 
}

.elements a {
    color: #fff;
}

.elements li:hover {
    border: none;
    color: rgb(207, 26, 43);
    background-color: #fff;
}

.elements li:hover > a {
    color: rgb(207, 26, 43);
}
  
.banner1 {
    height: 726px;
    background-image: url(../image/banner1.jpg);
    background-size: cover;
    margin-bottom: 32px;
    position: relative;
    padding-top: 250px;
    box-sizing: border-box;
}

.slider {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    max-width: 1280px;
}

.slide-prev, .slide-next {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 300px;
    outline: none;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
}

.slide-next {
    right: 20px;
}

.a-angle-left {
    color: #d62132;
}

.slider h3 {
    font-size: 22px;
    line-height: 0.894;
    margin-bottom: 60px;
    letter-spacing: 28px;   
    text-shadow: 2px 2px 2px #fff; 
}

.slider h1 {
    font-family: "Impact";
    font-size: 116px;
}

.promos {
    background-color: #fff;
    width: 100%;
    min-height: 337px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.promo {
    margin: 9px 9px;
    padding: 23px;
    box-sizing: border-box;
    width: 245px;
    height: 251px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    position: relative;
}

.promo:hover {
    cursor: pointer;
}

.promo h2 {
    font-size: 30px;
    line-height: 0.9;
}

.promo h3 {
    font-size: 24px;
    width: 165px;
    margin-top: 20px;
}

.t-shirt {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}

.t-shirt1 {
    background-image: url("../image/promos/promo1.png");
    background-repeat: no-repeat;
    top: 5px;
    right: -113.5px;
}

.t-shirt2 {
    background-image: url("../image/promos/promo2.png");
    background-repeat: no-repeat;
    top: 67px;
    right: -101px;
}

.t-shirt3 {
    background-image: url("../image/promos/promo3.png");
    background-repeat: no-repeat;
    top: 92px;
    right: -108px;
}

.promo1 {
    background-color: rgb(88, 219, 211);
}

.promo2 {
    background-color: rgb(228, 206, 154);
}

.promo3 {
    background-color: rgb(255, 167, 206);
}

.promo4 {
    background-color: rgb(242, 202, 102);
}

.promo4 .price50 {
    font-size: 105px;
    font-family: "HelveticaNeue";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.24;
    text-align: center;
    transform: scale(-1, 1);
    position: absolute;
    left: 15px;
    top: 40px;
}

.promo4 div {
    position: absolute;
    bottom: 20px;
    left: 0;
}

.off {
    font-size: 64px;
    text-align: center;
    padding-left: 55px;
    margin-bottom: 10px;
}

.go {
    background-color: #fff;
    color: rgb(228, 206, 154);
    font-size: 26px;
    width: 142px;
    height: 37px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
}

.price {
    font-size: 50px;
    color: rgb(18, 134, 127);
    font-weight: bold;
    position: absolute;
    bottom: 23px;
    left: 23px;
}

.price2 {
    color: rgb(94, 76, 56);
}

.price3 {
    color: rgb(65, 64, 73);
}

.Layer_6 {
    background-image: url("Layer 6.png");
    position: absolute;
    left: 0px;
    top: 949px;
    width: 1280px;
    height: 973px;
    z-index: 4;
}

.banner2 {
    height: 673px;
    background-image: url(../image/banner2.jpg);
    background-size: cover;
    color: #fff;
    font-size: 100px;
    font-family: "JosefinSlab";
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    box-sizing: border-box;
    overflow:hidden;
}

.ellipses {
    max-width: 1280;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;  
}

.ellipse {
    border-radius: 50%;
    background-color: rgb(88, 219, 211, 0.5);
    width: 200px;
    height: 200px;
}

.ellipse:hover {
    cursor: pointer;
}

.ellipse1 {
    background-image: url(../image/categories/trousers.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 90px;
    left: -40px;
}

.ellipse2 {
    background-image: url(../image/categories/shoes.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 40px;
    left: 110px;
}

.ellipse3 {
    background-image: url(../image/categories/t-shirt.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 130px;
    left: 240px;
    background-color: rgb(88, 219, 211, 0.8);
}

.ellipse4 {
    background-image: url(../image/categories/trousers.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 40px;
    left: 380px;
    opacity: 0.8;
}

.ellipse5 {
    background-image: url(../image/categories/cap.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 80px;
    left: 540px;
    background-color: rgb(88, 219, 211, 0.8);
}

.ellipse6 {
    background-image: url(../image/categories/shoes.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 130px;
    left: 700px;
}

.ellipse7 {
    background-image: url(../image/categories/t-shirt.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 60px;
    left: 850px;
    background-color: rgb(88, 219, 211, 0.8);
}

.ellipse8 {
    background-image: url(../image/categories/umbrella.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 160px;
    left: 985px;
}

.ellipse9 {
    background-image: url(../image/categories/shoes.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 20px;
    left: 1095px;
}

.levis {
    background-color: #fff;
    width: 100%;
}

.levis-content {
    max-width: 1023px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.logo-levis {
    position: absolute;
    top: -16px;
    left: 50px;
    margin-bottom: 50px;
}

.content-levis {
    padding-left: 10px;
    margin-top: 160px;
    width: 543px;
    font-size: 14px;
    position: relative;
}

.content-levis h4 {
    font-size: 50px;
    font-weight: bold;
    text-align: inherit;
}

.content-levis p {
    color: rgb(29, 29, 29);
    line-height: 1.424;
    margin: 20px 0 50px;
}

.rate {
    font-size: 36px;
    font-weight: 700;
    color: rgb(29, 29, 29);
}

.content-levis button {
    width: 216px;
    height: 48px;
    position: absolute;
    right: 20px;
    bottom: 0px;
    font-size: 28px;
    color: #fff;
    box-sizing: border-box;
    background-color: #d62132;
    border: none;
    outline: none;
}

.content-levis button .fa {
    margin-right: 10px;
}

.content-levis button:hover {
    cursor: pointer;
}

.big-troussers {
    margin-bottom: 10px;
}

.figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

figure img {
    margin: 20px 5px 10px;
    width: 184px;
    height: 174px;
    border: 1px solid #cacaca;
}

figure img:hover {
    cursor: pointer;
    border: 1px solid red;
}

footer {
    width: 100%;
    height: 105px;
    background-color: #1b2330;
}

.footer-content {
    max-width: 1023px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-content div {
    color: rgba(255, 255, 255, 0.502);
    font-size: 16px;
    line-height: 1.229;
}

.icons .fa {
    color: #fff;
    font-size: 34px;
    margin-left: 24px;
}

@media (max-width: 1080px) {

    .dropdown {
        position: absolute;
        top: -5000px;
        left: -220px;
    }
}

@media (max-width: 476px) {

    .dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: -5000px;
        left: 0;
        background-color: rgb(207, 26, 43);
    }
}
